<meta charset="UTF-8">
<title>Middleton Library</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

<style>
    .navbar-nav .nav-item .nav-link.custom-btn {
      background-color: #f8f9fa; /* Light background color */
      border-radius: 5px; /* Rounded corners */
      padding: 5px 10px; /* Adjust padding for a smaller button */
    }
  
    .navbar-nav .nav-item .nav-link.custom-btn:hover {
      background-color: #e2e6ea; /* Darken background on hover */
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <ul class="navbar-nav">
            <li class="navbar-brand nav-link btn btn-sm btn-primary mx-2">
                <a class="navbar-brand" href="http://localhost:8080">Middleton Library Management System</a>
            </li>
            <li class="nav-link btn btn-sm btn-primary mx-2">
                <a class="nav-link" href="http://localhost:8080/login">Users</a>
            </li>

            <li class="nav-link btn btn-sm btn-primary mx-2">
                <a class="nav-link" href="http://localhost:8080/books">Books</a>
            </li>

        </ul>
    </nav>
</body>